[submodule "MATLAB Custom Imports/M-utilib"]
	path = MATLAB Custom Imports/M-utilib
	url = git@github.com:edobez/M-utilib.git
[submodule "MATLAB Custom Imports/yamlmatlab"]
	path = MATLAB Custom Imports/yamlmatlab
	url = git@github.com:ashishtibrewal/yamlmatlab.git 
